@import "@/style/scss/p2r.scss";

.left {
  height: p2r(154);
  line-height: p2r(154);
  font-size: p2r(40);
  color: #fff;
}

/deep/.van-nav-bar {
  height: p2r(154);
  background-color: #f85648;
}

/deep/.van-nav-bar__right {
  right: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .iconfont {
    font-size: p2r(36);
    line-height: p2r(100);
    padding-left: p2r(20);
    width: p2r(100);
  }

  .btnWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: p2r(100) p2r(63) p2r(26);
    width: p2r(660);

    .btn {
      height: p2r(90);
      line-height: p2r(90);
      font-size: p2r(40);
      letter-spacing: 4px;
      color: #fff;
      background: #f85648;
    }
  }
}
