@import "@/style/scss/p2r.scss";

h1 {
  font-size: p2r(90);
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff;

  .img {
    position: absolute;
    z-index: -2;
  }

  .masking {
    position: absolute;
    width: p2r(750);
    height: p2r(1334);
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  .iconfonts {
    margin: p2r(94) 0 0 p2r(74);
    width: p2r(640);
    height: p2r(63);
    background: rgba(0, 0, 0, 0);
    font-size: p2r(80);
  }

  .textWrap {
    display: flex;
    justify-content: center;

    .text {
      z-index: -1;
      width: p2r(488);
      height: p2r(68);
      font-size: p2r(34);
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .ringWrap {
    display: flex;
    justify-content: center;
    margin-top: p2r(208);

    .countdownText {
      margin-top: 32%;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: p2r(60);
    height: p2r(76);

    div {
      align-self: center;
      flex: 1;
    }
  }

  .btns {
    display: flex;
    justify-content: space-around;
    margin-top: p2r(136);
    margin-left: p2r(132);
    width: p2r(476);

    .iconfont {
      font-size: p2r(42);
      color: rgba(255, 255, 255, 1);
    }
  }
}
