@import "@/style/scss/p2r.scss";

.container {
  .Wrap {
    position: relative;
  }

  .left {
    height: p2r(154);
    line-height: p2r(154);
    font-size: p2r(40);
    color: #fff;
  }

  .right {
    display: flex;
    justify-content: space-between;
    width: p2r(200);
    height: p2r(154);

    .iconfont {
      font-size: p2r(40);
      color: #fff;
      align-self: center;
      flex: 1;
    }
  }

  .empty {
    height: p2r(182);
  }

  .masking {
    z-index: 30;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    width: p2r(750);
    height: p2r(1334);
  }

  .addToDo {
    z-index: 998;
    position: fixed;
    top: p2r(436);
    left: p2r(100);
    width: p2r(554);
    // height: p2r(176);

    .addTop {
      display: flex;
      justify-content: space-between;
      height: p2r(96);
      background: #f85648;
      font-size: p2r(33);
      color: #fff;

      .addTopLeft {
        margin-left: p2r(30);
        height: p2r(96);
        line-height: p2r(96);
      }

      .icons {
        height: p2r(96);
        line-height: p2r(96);

        .iconfont {
          margin-right: p2r(30);
        }
      }
    }

    .addBottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: p2r(554);
      background: #fff;

      .iconInputWrap {
        display: flex;
        align-items: flex-end;
        margin: p2r(20) p2r(30);
        width: p2r(494);
        border-bottom: p2r(2) solid #f85648;

        .iconfont {
          padding-left: p2r(10);
          // width: p2r(36);
          height: p2r(80);
          line-height: p2r(80);
          color: #f85648;
          font-size: p2r(36);
        }

        .input {
          flex: 1;
          // padding-left: p2r(20);
          // width: p2r(484);
          height: p2r(80);
          border: 0;
        }
      }
    }
  }

  .cellWrap {
    margin: 0 p2r(40);
    padding-bottom: p2r(100);
    width: p2r(670);
    height: p2r(1000);

    .cellItemWrap {
      margin-bottom: p2r(20);
      height: p2r(130);
      border: p2r(2) solid #aaa;
      border-radius: p2r(100);
      color: #565656;
      // background-color: #44a8e0;

      .cellItem {
        justify-content: flex-start;
        align-content: center;
        height: p2r(130);
        line-height: 2;
        color: #969799;
        font-size: p2r(50);
        // text-decoration: line-through; // 贯穿线
        text-align: left;
        background: #f0f5f5;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      }

      .left {
        background: #f85648;
        text-align: right;
      }

      .right {
        background: #f00;
        align-self: flex-start;
        text-align: left;
      }

      .left,
      .right {
        display: inline-block;
        width: p2r(200);
        height: p2r(130);
        line-height: p2r(130);
        font-size: p2r(50);
        color: #fff;

      }

      .startBtn {
        width: p2r(200);
        height: p2r(130);
        border: 0;
        background: #f85648;
        color: #fff;
        border-radius: p2r(100);
      }
    }
  }
}

.iconfont {
  width: p2r(88);
  color: #fff;
}

/deep/.van-nav-bar {
  height: p2r(154);
  background: #f85648;
}

/deep/.van-nav-bar__right {
  right: 0;
}

/deep/.van-cell__value--alone {
  color: #969799;
  text-align: right;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter-active,
.v-leave-active {
  transition: all ease 0.8s;
}
