@import "@/style/scss/p2r.scss";

.loginWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bgimg {
    z-index: -100;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: p2r(750);
    height: p2r(1334);
  }

  .text {
    height: p2r(36);
    line-height: p2r(36);
    font-size: p2r(18);
    text-align: center;
  }



  .inputWrap,
  .inputWrap1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: p2r(60);
    width: p2r(672);
    background: #fff;
    border-radius: 6px;

    .phoneWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: p2r(46);
      width: p2r(586);
      height: p2r(104);
      border-bottom: p2r(2) solid #515160;
    }

    .psdWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: p2r(62);
      width: p2r(586);
      height: p2r(104);
      border-bottom: p2r(2) solid #515160;
    }

    .codeWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: p2r(62);
      width: p2r(586);
      height: p2r(104);
      border-bottom: p2r(2) solid #515160;

      .codeWrap-bottom {
        display: flex;
        justify-content: space-between;

        .code-btn {
          align-self: center;
          height: p2r(50);
          line-height: p2r(50);
          font-size: p2r(24);
          text-align: center;
        }
      }
    }

  }

  .btn,
  .btn1 {
    position: absolute;
    width: p2r(586);
    height: p2r(100);
    line-height: p2r(100);
    font-size: p2r(28);
    letter-spacing: p2r(20);
    color: #fff;
    background: #293550;
    border: none;
  }


  .btn {
    top: p2r(630);
  }

  .btn1 {
    top: p2r(794);
  }

  .jumpRegister,
  .jumpLogin {
    position: absolute;
    color: #fff;
    font-size: p2r(28);
  }

  .jumpRegister {
    top: p2r(770);
  }

  .jumpLogin {
    top: p2r(934);
  }

}

// .inputWrap1 {
//   height: p2r(568);
// }
