@import "@/style/scss/p2r.scss";

.Wrap {
  position: relative;
}

.empty {
  height: p2r(154);
}

.left {
  height: p2r(154);
  line-height: p2r(154);
  font-size: p2r(40);
  color: #fff;
}

.right {
  display: flex;
  justify-content: space-between;
  width: p2r(200);
  height: p2r(154);

  .iconfont {
    font-size: p2r(40);
    color: #fff;
    align-self: center;
    flex: 1;
  }
}

/deep/.van-nav-bar {
  height: p2r(154);
  background-color: #f85648;
}

/deep/.van-nav-bar__right {
  right: 0;
}

.person-top {
  position: relative;
  height: p2r(300);
  clear: both;

  .imgWrap {
    z-index: -100;
    position: absolute;
    // top: p2r(154);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: p2r(300);

    .img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .wrap {
    margin-left: p2r(50);
    height: p2r(280);

    .wrap-top {
      padding-top: p2r(30);
      display: flex;
      justify-content: flex-start;

      .jumpLogin {
        overflow: hidden;
        width: p2r(126);
        height: p2r(126);
        border-radius: 50%;
        background: #fff;
      }

      .numText {
        align-self: flex-end;
        margin-left: p2r(40);
        height: p2r(30);
        line-height: p2r(30);
        text-align: center;
        font-size: p2r(16);
        color: #d84315;
        background: #ffe7e0;
        border-radius: p2r(6);
      }
    }

    .wrap-bottom {
      overflow: hidden;
      margin-top: p2r(24);
      color: #fff;
      margin-left: p2r(16);

      div:nth-child(1) {
        font-size: p2r(30);
        font-weight: bold;
      }
    }
  }
}

.modify {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: p2r(40);
  height: p2r(100);
  background: #f0f5f5;

  .text {
    flex: 1;
    padding-left: p2r(20);
    font-size: p2r(30);
    font-weight: bold;
  }

  .icon-xiugai1 {
    padding-left: p2r(20);
    font-size: p2r(48);
  }

  .icon-qianjin {
    justify-self: self-end;
    padding-right: p2r(10);
    font-size: p2r(30);
  }
}
