@import "@/style/scss/p2r.scss";

.empty {
  height: p2r(154);
}

.left {
  height: p2r(154);
  line-height: p2r(154);
  font-size: p2r(40);
  color: #fff;
}

/deep/.van-nav-bar {
  height: p2r(154);
  background-color: #f85648;
}

/deep/.van-nav-bar__right {
  right: 0;
}

.page-wrap {
  z-index: -20;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #f0f5f5;
}

.ranking-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: p2r(54);
  padding-bottom: p2r(80);
  background: #f0f5f5;

  .ranking-item {
    height: p2r(160);
    width: p2r(678);
    margin-bottom: p2r(18);
    background: url("../../assets/shui.jpg") no-repeat;
    background-size: 100% auto;
    background-position: 0 25%;

    .item-top {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: p2r(18) 0 p2r(4) p2r(52);
      color: #fff;

      .top-left {
        font-size: p2r(36);
      }

      .top-right {
        width: p2r(104);
        font-size: p2r(38);
        text-align: start;
      }
    }

    .item-bottom {
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding: 0 p2r(10) 0 p2r(52);

      .bottom-left {
        flex: 1;
        font-size: p2r(28);
      }

      .bottom-right {


        .bigText {
          font-size: p2r(50);
        }
      }
    }
  }
}

.ranking-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: p2r(80);
  line-height: p2r(80);
  text-align: center;
  color: #000;
  font-size: p2r(8);
  background: #f0f5f5;
}
